<th:block xmlns:th="http://www.thymeleaf.org"
          xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
          layout:decorate="~{layout/layout}">
  <th:block layout:fragment="script">
    <script>
      $(function() {
        const form = $('#login_form');

        // 로그인 버튼 클릭 이벤트
        $('#btn_login').on('click', function() {
          const adminId = $('#admin_id').val().trim();
          const adminPw = $('#admin_pw').val().trim();

          if (!adminId) {
            showAlert('아이디를 입력해 주세요.', function() {
              $('#admin_id').focus();
            });

            return;
          }

          if (!adminPw) {
            showAlert('패스워드를 입력해 주세요.', function() {
              $('#admin_pw').focus();
            });

            return;
          }

          // 폼 전송
          $('#login_form').submit();
        });

        // 엔터키 입력 시 로그인 실행
        $('#admin_id, #admin_pw').on('keyup', function(e) {
          if (e.keyCode === 13) {
            $('#btn_login').click();
          }
        });

        // 회원가입
        $("#btn_join").on('click', function() {
          form.attr('action', '/join');
          form.attr('method', 'get');
          form.submit();
        });
      });
    </script>
  </th:block>

  <!-- 컨텐츠 영역 -->
  <div layout:fragment="content" class="wrapper">
    <div class="login-box">
      <h2 class="login-title">Login</h2>

      <form method="post" class="login-form" id="login_form">
        <input type="text" id="admin_id" name="admin_id" placeholder="아이디" />
        <input type="password" id="admin_pw" name="admin_pw" placeholder="패스워드" />

        <!--<label for="remember-check">
          <input type="checkbox" id="remember-check">아이디 저장하기
        </label>-->

        <input type="button" class="btn_basic" id="btn_login" th:value="Login"/>

        <div class="login_link">
          <span class="btn_txt" id="btn_srh_pw">비밀번호찾기</span>
          <span class="btn_txt" id="btn_join">회원가입</span>
        </div>
      </form>
    </div>
  </div>

</th:block>